/*Kondisi box awal*/
.box {
    width: 40%;
    height: 100px;
    background: mediumaquamarine;
    border: 2px solid black;

    /*Animasi lebar box*/
    -webkit-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

/*Jika landscape, perlebar 100%*/
@media (orientation: landscape) {
    .box {
        width: 100%;
    }
}